
<style>
      h1{
            text-align:center;
      }
      table{
            width:80%;
            margin:auto;
            border:1px solid black;
            caption-side:bottom;
            border-collapse:collapse;
      }

 
      table tbody td{
            border-right:1px solid gray;
            padding:5px;

      }

    body {
        background-color: lightgray;
    }

    td {
        background-color: white;
    }


      footer{
            text-align:center;
      }

            table {
                width:20cm;
            }
            table thead{
                background-color:darkgray;
            }

            footer{
                display:none;
            }
</style>

<body>
    <h1>Index</h1>
    <table>
        <colgroup>
            <col style="width:25%" />
            <col style="width:25%" />
            <col style="width:25%" />
            <col style="width:25%" />
        </colgroup>
        <thead>
            <tr>
                <th>Materia</th>
                <th>Semestre</th>
                <th>Alumno</th>
                <th>Periodo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Programación Web</td>
                <td>Séptimo</td>
                <td>Jacob Asael Barrera Mata</td>
                <td>Agosto-Diciembre 2021</td>
            </tr>
        </tbody>
    </table>
</body>
