
<head>
    <title>mi Perfil</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h2>Perfil de Alumno</h2>
    </header>
    <figure id="photo">
        <img src="~/img.png"/>
    </figure>
    <section id="area1">
        <p>Materia: Programación Web</p>
    </section>
    <section id="area2">
        <p>Semestre: Séptimo</p>
    </section>
    <section id="area3">
        <p>Alumno: Jacob Asael Barrera Mata</p>
    </section>
    <section id="area4">
        <p>Periodo Agosto-Diciembre 2021</p>
    </section>
</body>

